:root {
    --rain-color: rgba(255, 255, 255, 0.55);
    --wind-angle: 25deg;
    --drift: -350px;
    --highlight-color: #ffffff;
    }

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    font-family: "Edu AU VIC WA NT Dots",sans-serif, cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#fullPic {
    position: relative;
    width: 100vw;
    height: 100vh;
    }

        #canvas {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        .plane {
            width: 100%;
            height: 100%;
        }

        .plane img {
            display: none;
        }

        #rain {
            width: 100%;
            height: 100%;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .theMessage{
            position: fixed;
            top: 50px;
            left: 32vw;
            z-index: 10;
            text-align: center;
            max-width: 35vw;
            pointer-events: none;
        }

        h1.blurred {
            font-size: 1.2rem;
            line-height: 1.6;
            margin: 0;
        }

.textBlur {
    letter-spacing: 2px;
    color: #ffffff; 
    font-weight: 300;
    text-shadow: 0 0 5px rgba(255,255,255,0.6);
    animation: blurText 3s ease-in-out infinite alternate;
}

@keyframes blurText {
    0% { 
        filter: blur(2px);
        text-shadow: 0 0 10px #fff, 
                     0 0 30px rgba(255,255,255,0.5), 
                     0 0 50px rgba(255,255,255,0.3);}
    100% { 
        text-shadow: 0 0 5px #fff;
        filter: blur(0px);}
}

.drop {
    position: absolute;
    background: linear-gradient(transparent, var(--rain-color));
    width: 1px;
    height: 120px;
    transform: rotate(var(--wind-angle));
    }

@keyframes fall {
    to {
        transform: translateY(110vh) translateX(var(--drift)) rotate(var(--wind-angle));
        }
    }